.v-cloak {
    display: none;
}

#searchbox > div > button {
    margin-right: 10px;
}

#search_block_top_content {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
}

#elasticsearch-block-top {
    position: relative;
    margin-top: 30px;
}

@media (max-width: 767px) {
    #elasticsearch-block-top {
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #elasticsearch-block-top {
        margin-top: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #elasticsearch-block-top {
        margin-top: 20px;
    }
}

.top-pagination-content ul.pagination li.disabled, .bottom-pagination-content ul.pagination li.disabled {
    display: inline-block!important;
}

.form-inline.sortPagiBar {
    padding-bottom: 10px;
}

#elasticsearch-query-top {
    height: 40px;
}

#elasticsearch-autocomplete {
    position: absolute;
    z-index: 100000;
    background-color: white;
    width: calc(100% - 20px);
    border: solid 1px #cbcbcb;
    margin: 0;
    padding: 0;
    display: block;
}

#elasticsearch-autocomplete > span.elastic-suggestion {
    display: inline-block;
    width: 100%;
    padding: 2px 8px;
    cursor: pointer;
}

#elasticsearch-autocomplete > span.elastic-suggestion.active {
    background-color: #ddd;
}

#elasticsearch-autocomplete > span.elastic-suggestion:not(.active):hover {
    background-color: #efefef;
}

#enabled_filters {
    margin: 0 0 10px 0;
    background: #eee;
    padding: 5px;
}

#enabled_filters ul {
    margin: 0;
}

#enabled_filters ul li {
    padding: 2px 0;
}

#enabled_filters ul li a {
    float: right;
}

#layered_form ul {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}

#layered_form label {
    font-weight: normal;
}

#layered_form .radio,
#layered_form .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.color-option {
    margin-left: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    border: 1px solid #666;
}

.color-option.on {
    border-color: red;
}

.color-option.disable {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

ul.layered_filter_ul {
    max-height: 200px;
    overflow-x: auto;
}

.layered_subtitle {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.layered_price_range_unit {
    margin-right: 7px;
}

.layered_slider_container {
    margin: 6px 0 6px 10px;
    width: 91%;
}

.layered_input_range_min {
    width: 30px;
}

.layered_input_range_max {
    width: 40px;
}

.layered_list_selected {
    font-weight: bold;
}

.layered_list {
    display: block;
    cursor: pointer;
}

.layered_list:hover {
    font-weight: bold;
}

.layered_ajax_loader p {
    margin: 20px 0;
    text-align: center;
}

.hide-action {
    text-align: right;
    display: block;
    cursor: pointer;
}

.hide-action:hover {
    font-weight: bold;
}

.layered_filter {
    border-bottom: 1px solid #eee;
}

.layered_filter label {
    font-weight: normal;
}
.vue-slider-component {
    position: relative;
    box-sizing: border-box;
    user-select: none;
}
.vue-slider-component.vue-slider-disabled {
    opacity: .5;
    cursor: not-allowed;
}
.vue-slider-component.vue-slider-has-label {
    margin-bottom: 15px;
}
.vue-slider-component.vue-slider-disabled .vue-slider-dot {
    cursor: not-allowed;
}
.vue-slider-component .vue-slider {
    position: relative;
    display: block;
    border-radius: 15px;
    background-color: #ccc;
}
.vue-slider-component .vue-slider::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.vue-slider-component .vue-slider-process {
    position: absolute;
    border-radius: 15px;
    background-color: #3498db;
    transition: all 0s;
    z-index: 1;
}
.vue-slider-component.vue-slider-horizontal .vue-slider-process {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    will-change: width;
}
.vue-slider-component.vue-slider-vertical .vue-slider-process {
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    will-change: height;
}
.vue-slider-component.vue-slider-horizontal-reverse .vue-slider-process {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
}
.vue-slider-component.vue-slider-vertical-reverse .vue-slider-process {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}
.vue-slider-component .vue-slider-dot {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
    transition: all 0s;
    will-change: transform;
    cursor: pointer;
    z-index: 3;
}
.vue-slider-component.vue-slider-horizontal .vue-slider-dot {
    left: 0;
}
.vue-slider-component.vue-slider-vertical .vue-slider-dot {
    bottom: 0;
}
.vue-slider-component.vue-slider-horizontal-reverse .vue-slider-dot {
    right: 0;
}
.vue-slider-component.vue-slider-vertical-reverse .vue-slider-dot {
    top: 0;
}
.vue-slider-component .vue-slider-tooltip-wrap {
    display: none;
    position: absolute;
    z-index: 9;
}
.vue-slider-component .vue-slider-tooltip {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    padding: 2px 5px;
    min-width: 20px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #3498db;
    background-color: #3498db;
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-top {
    top: -9px;
    left: 50%;
    transform: translate(-50%, -100%);
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-bottom {
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, 100%);
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-left {
    top: 50%;
    left: -9px;
    transform: translate(-100%, -50%);
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-right {
    top: 50%;
    right: -9px;
    transform: translate(100%, -50%);
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-top .vue-slider-tooltip::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border: 6px solid transparent\0;
    border-top-color: inherit;
    transform: translate(-50%, 0);
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-bottom .vue-slider-tooltip::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border: 6px solid transparent\0;
    border-bottom-color: inherit;
    transform: translate(-50%, 0);
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-left .vue-slider-tooltip::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border: 6px solid transparent\0;
    border-left-color: inherit;
    transform: translate(0, -50%);
}
.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-right .vue-slider-tooltip::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border: 6px solid transparent\0;
    border-right-color: inherit;
    transform: translate(0, -50%);
}
.vue-slider-component .vue-slider-dot.vue-slider-hover:hover .vue-slider-tooltip-wrap {
    display: block;
}
.vue-slider-component .vue-slider-dot.vue-slider-always .vue-slider-tooltip-wrap {
    display: block!important;
}
.vue-slider-component .vue-slider-piecewise {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    height: 100%;
    list-style: none;
}
.vue-slider-component .vue-slider-piecewise-item {
    position: absolute;
    width: 8px;
    height: 8px;
}
.vue-slider-component .vue-slider-piecewise-dot {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: all .3s;
}
.vue-slider-component .vue-slider-piecewise-item:first-child .vue-slider-piecewise-dot, .vue-slider-component .vue-slider-piecewise-item:last-child .vue-slider-piecewise-dot {
    visibility: hidden;
}
.vue-slider-component.vue-slider-horizontal .vue-slider-piecewise-label, .vue-slider-component.vue-slider-horizontal-reverse .vue-slider-piecewise-label {
    position: absolute;
    display: inline-block;
    top: 100%;
    left: 50%;
    white-space: nowrap;
    font-size: 12px;
    color: #333;
    transform: translate(-50%, 8px);
    visibility: visible;
}
.vue-slider-component.vue-slider-vertical .vue-slider-piecewise-label, .vue-slider-component.vue-slider-vertical-reverse .vue-slider-piecewise-label {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 100%;
    white-space: nowrap;
    font-size: 12px;
    color: #333;
    transform: translate(8px, -50%);
    visibility: visible;
}
.vue-slider-component .vue-slider-sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute !important;
}
.es-highlight {
    font-weight: 700;
}


#enabled_filters {
    margin: 0 0 10px 0;
    background: #eee;
    padding: 5px;
}

#enabled_filters ul {
    margin: 0;
}

#enabled_filters ul li {
    padding: 2px 0;
}

#enabled_filters ul li a {
    float: right;
}

#layered_form ul {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}

#layered_form label {
    font-weight: normal;
}

#layered_form .radio,
#layered_form .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

#layered_form .color-option {
    margin-left: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    border: 1px solid #666;
}

#layered_form .color-option.on {
    border-color: red;
}

#layered_form .color-option.disable {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

ul.layered_filter_ul {
    max-height: 200px;
    overflow-x: auto;
}

.layered_subtitle {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.layered_price_range_unit {
    margin-right: 7px;
}

.layered_slider_container {
    margin: 6px 0 6px 10px;
    width: 91%;
}

.layered_input_range_min {
    width: 30px;
}

.layered_input_range_max {
    width: 40px;
}

.layered_list_selected {
    font-weight: bold;
}

.layered_list {
    display: block;
    cursor: pointer;
}

.layered_list:hover {
    font-weight: bold;
}

.layered_ajax_loader p {
    margin: 20px 0;
    text-align: center;
}

.hide-action {
    text-align: right;
    display: block;
    cursor: pointer;
}

.hide-action:hover {
    font-weight: bold;
}

.layered_filter {
    border-bottom: 1px solid #eee;
}

.layered_filter label {
    font-weight: normal;
}
